---
import Layout from '../layouts/Layout.astro';
const pageTitle = "607";
import '../styles/global.css';
---
<Layout pageTitle={pageTitle}>
	<div class="image">
		<img width="100%" height="100%" alt="juliakreitz" src="/images/tree.svg"/>
	</div>
    <p style="text-align:center;">
        <a class="ref" href="https://webgis.friedwald.de/portal/fw/?globalsearch=BRS%20BRS%20607&panelleft=false&lat=53.24625278197528&lng=8.68237227201462&zoom=19">FriedWald Bremer Schweiz</a><br>
        
         # 607 am Hasenpatt<br>
        <a class="wgs" href="https://maps.app.goo.gl/9wdXtmGg8dZD8op67">53°14'46.2"N 8°40'57.4"E</a>
    </p>
</Layout>
