---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Kondolenzen";
---

<Layout pageTitle={pageTitle}>
        <div>
                <script src="https://giscus.app/client.js"
                        data-repo="3verlyn/juliakreitz"
                        data-repo-id="R_kgDOLdoy6g"
                        data-category="condolences"
                        data-category-id="DIC_kwDOLdoy6s4Cd08s"
                        data-mapping="url"
                        data-strict="0"
                        data-reactions-enabled="1"
                        data-emit-metadata="0"
                        data-input-position="bottom"
                        data-theme="https://juliakreitz.rip/themes/giscus.css"
                        data-lang="de"
                        crossorigin="anonymous"
                        async>
                </script>   
        </div>
        <br>
        <div class="image" style="text-align:right;">
                <img width="100%" height="100%" alt="juliakreitz" src="/images/teddy.svg"/>
        </div>
</Layout>
