---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Julia Kreitz";
---
<Layout pageTitle={pageTitle}>
    <div class="portrait">
        <img class="heart" width="75%" height="75%" alt="juliakreitz" src="/photos/1.png"/>
        <p>* 31. Juli 1988 – ✝ 13. Januar 2024<br>Bremen</p>
    </div>

    <h2>Biografie</h2>
    <p>
        Julia wurde am 31. Juli 1988 in Bremen geboren.
    </p>

    <p>
        Nach ihrem Realschulabschluss absolvierte sie zwischen 2004 bis 2007 an der Berufsschule Osterholz-Scharmbeck eine Ausbildung zur Fachverkäuferin im Lebensmitelhandwerk bei der Bäckerei Rolf. 
    </p>

    <p>
        Von März 2007 bis April 2021 arbeite Julia nach ihrer Ausbildung insgesamt 14 Jahre lang als Sekretärin in der von Detlef Kallis inhabergeführten Fahrschule Kallis.
    </p>

    <p>
        Neben ihrer Tätigkeit als Sekretärin erlangte sie ihr Abitur auf dem zweiten Bildungsweg.
    </p>
        
    <p>
        Seit Oktober 2017 war Julia die Landesvorsitzende des von ihr mitbegründeten Landesverbandes der Partei der Humanisten in Bremen. Bei der Bürgerschaftswahl im Jahr 2019 erreichte sie mit ihrem kleinen hanseatischen Landesverband das beste Wahlergebnis in der Parteigeschichte der Humanisten.
    </p>
        
    <p>
        Im Oktober 2019 begann sie an der Universität Bremen ein Studium auf Lehramt für Germanistik und Politikwissenschaften, machte jedoch im Kontext eines Praktikums einige negative Erfahrungen mit dem deutschen Bildungssystem, weswegen eine erfolgreich zu Ende geführte Gerichtsverhandlung vor einem Arbeitsgericht unweigerlich ihr Interesse für juristische Fälle geweckt hatte und sie schließlich in den Studiengang der Rechtswissenschaften wechselte.
    </p>
        
    <p>
        Neben ihrem Studium an der Universität Bremen arbeitete sie seit Juni 2021 unter Robert Crueger als Studentische Hilfskraft im Sekretariat des Referats 02 für Arbeits-, Gesundheits- und Umweltschutz.
    </p>
       

    <p>
        Letztlich ist Julia nach vielen Jahren an der Lüder-Clüver-Straße in Blumenthal endlich im September 2023 in eine schnuckelige Wohnung an der Schenkendorfstraße in Schwachhausen eingezogen, jedoch sollte ihr neu gefundenes Glück leider nicht lange anhalten.
    </p>

    <p>
        Nach einer Lungenentzündung im November 2023 sowie einer Virusinfektion zum Jahreswechsel verstarb Julia am 12. oder 13. Januar 2024 im Alter von nur 35 Jahren unerwartet aufgrund eines durch einen Herzinfarkt ausgelösten Herzversagens.
    </p>

    <p>
        Am 07. März 2024 wurde Julia klanglos von ihrem Vater & ihrer Erzeugerin im <a class="ref" href="/607">FriedWald Bremer Schweiz</a> an einer kleinen Buche beigesetzt.
    </p>

    <div class="image" style="text-align:left;">
        <img width="50%" height="50%" alt="juliakreitz" src="/images/heart.svg"/>
    </div>

    <p>
       Julia war im Herzen eine wahre Humanistin: Mittels ihrer Talente, ihrem Wissen und ihrer Empathie versuchte sie stets anderen Menschen zu helfen, stellte jedoch viel zu oft ihre eigenen Bedürfnisse zurück, weil sie innerlich davon getrieben war etwas bewegen zu wollen. Wenngleich Julia alles andere als religiös gewesen ist, glaubte sie immer warmherzig an das Gute im Menschen und an die Wissenschaft.
    </p>
    <p>
        Ihre Erlebnisse aus dem verrückten Alltag verarbeitete sie oft in raffiniert gemachten Memes und erheiterte mit ihrem einzigartigen, unverbesserlichem Humor jedes noch so verzagte Gemüt.
    </p>
    <p>
        Auf Julia war immer Verlass, doch leider wurde sie im Leben selber viel zu oft verlassen.
     </p>
     <p>
        Nicht zuletzt auch vom Leben selbst.
     </p>
    <div class="image" style="text-align:right;">
        <img width="70%" height="70%" alt="juliakreitz" src="/images/dog.svg"/>
    </div>
</Layout>