---
import Layout from '../layouts/Layout.astro';
import CSS from '../styles/gallery.module.scss';
const pageTitle = "Erinnerungen";
---
<Layout pageTitle={pageTitle}>
    <div class={CSS.gallery}>
        <div class="gallery">
                <figure>
                    <img src="/photos/1.png"/>
                    <p>♥</p>
                </figure>
                <figure>
                    <img src="/photos/2.png"/>
                    <p>Bitte lächeln!</p>
                </figure>
                <figure>
                    <img src="/photos/3.png"/>
                    <p>♥</p>
                </figure>
                <figure>
                    <img src="/photos/4.png"/>
                    <p>♥</p>
                </figure>
                <figure>
                    <img src="/photos/5.png"/>
                    <p>♥</p>
                </figure>
                <figure>
                    <img src="/photos/schmidt-salomon.png"/>
                    <p>Fangirl</p>
                </figure>
                <figure>
                    <video controls>
                        <source src="/videos/march-for-science_2018-04-14.mp4" type="video/mp4"/>
                    </video>
                    <p>March for Science<br>2018</p>
                </figure>
                <figure>
                    <img src="/photos/2019-04-12.png"/>
                    <p>Bürgerschaftswahl 2019</p>
                </figure>
                <figure>
                    <img src="/photos/2022-08-08.png"/>
                    <p>Kandidatur zur Bundestagswahl<br>2021</p>
                </figure>
                <figure>
                    <video controls>
                        <source src="/videos/bundestagswahl_2021-10-20.mp4" type="video/mp4"/>
                    </video>
                    <p>buten un binnen</p>
                </figure>
                <figure>
                    <img src="/photos/2022-08-27.png"/>
                    <p>Christopher Street Day<br>27. August 2022, Bremen</p>
                </figure>
                <figure>
                    <img src="/photos/2022-08-28.png"/>
                    <p>Christopher Street Day<br>27. August 2022, Bremen</p>
                </figure>
                <figure>
                    <img src="/photos/2021-05-09.png"/>
                    <p>Kindheit.</p>
                </figure>
                <figure>
                    <img src="/photos/simpsons.png"/>
                    <p>The Simpsons<br>.. aber nicht nach der 10. Staffel!</p>
                </figure>
                <figure>
                    <img src="/photos/zelda-bunny-link.png"/>
                    <p>The Legend of Zelda<br>Bunny Link</p>
                </figure>
                <figure>
                    <img src="/photos/yoshi.png"/>
                    <p>Yoshi!</p>
                </figure>
                <figure>
                    <img src="/photos/garagengolems.png"/>
                    <p>Garagengolems.</p>
                </figure>
        </div>
    </div>
</Layout>
