<div class="nav-bar">
    <div class="title-link">
        <a href="/">Julia Kreitz</a>
    </div>
    <img width="70%" height="70%" alt="juliakreitz" src="/images/twine.svg"/>
    <div class="nav-links">
        <a href="/memory/">Erinnerungen</a>
        ♥
        <a href="/condolences/">Kondolenzen</a>
    </div>
</div>


